@import "tailwindcss";

@theme {
    --color-*: initial;
    --color-primary: #777777;
    --color-primary-active: #000000;
    --color-primary-hovered: #222222;
}

body {
    margin: 0;
    font-family: sans-serif;
    padding: 1rem;
}