@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-*: initial;
    --color-primary: #222222;
    --color-primary-active: #111111;
    --color-primary-hovered: #555555;
    --color-mute: #eeeeee;
}

body {
    margin: 0;
    font-family: sans-serif;
    padding: 1rem;
}