---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageSection from "../components/PageSection.astro";
import ProjectCard from "../components/ProjectCard.astro";

import gitpeekThumb from "../assets/thumbnails/400x300.png";
import habitThumb from "../assets/thumbnails/400x300.png";

const projects = [
	{
		title: "Git Peek",
		img: gitpeekThumb,
		link: "https://github.com/eerieA/gitpeek-lang",
		description: "A GitHub language analyzer that renders SVG stats.",
	},
	{
		title: "NDL View",
		img: habitThumb,
		link: "https://github.com/eerieA/ndl-view",
		description: "A minimalist viewer for node-link diagram data.",
	},
];
---

<BaseLayout title="Projects" currentPage="home">
	<PageSection title="Projects">
		<div class="grid gap-6 sm:grid-cols-2">
			{projects.map((project) => <ProjectCard {...project} />)}
		</div>
	</PageSection>
</BaseLayout>
