---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageSection from "../components/PageSection.astro";
import ProjectCard from "../components/ProjectCard.astro";

import { projects } from "../content/arrays";
---

<BaseLayout title="Home" currentPage="home">
	<PageSection title="Skills">
		<p class="text-sm">
			🔨: Python, JavaScript, C#, Java, C, C++, SQL, Julia, R, Pytest,
			Junit, Cypress <br />
			💡: RESTful API design, architectures, infrastructures, algorithm design
		</p>
	</PageSection>
	<PageSection title="Projects">
		<div class="w-full flex flex-col grid gap-4 sm:grid-cols-1">
			{projects.map((project) => <ProjectCard {...project} />)}
		</div>
	</PageSection>
</BaseLayout>
