---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageSection from "../components/PageSection.astro";

import { marked } from "marked";
import resumeMarkdown from "../content/resume.md?raw";
const md = marked.parse(resumeMarkdown);
---

<BaseLayout title="Resume" currentPage="resume">
    <PageSection title="Resume">
        <div
            class="max-h-[calc(70vh-10rem)] lg:max-h-[calc(92vh-10rem)] overflow-y-auto
		mask-alpha mask-t-from-black mask-t-from-98% mask-t-to-transparent mt-[-6px] pt-[6px]
		mask-alpha mask-b-from-black mask-b-from-98% mask-b-to-transparent pb-6"
        >
            <article
                class="prose max-w-none prose-sm prose-sky prose-p:leading-5 prose-ul:leading-5"
                set:html={md}
            />
        </div>
    </PageSection>
</BaseLayout>
