---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Resume | Jade Duan" currentPage="resume">
    <h1>Resume</h1>
    <iframe src="/resume.pdf" width="100%" height="800px" style="border: none;"
    ></iframe>
    <p><a href="/resume.pdf" download>Download PDF</a></p>
</BaseLayout>
