---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageSection from "../components/PageSection.astro";
import SocialLink from "../components/SocialLink.astro";

import { socials } from "../content/arrays";
---

<BaseLayout title="Socials" currentPage="socials">
    <PageSection title="Social links">
        <div class="flex flex-col items-center lg:items-start md:items-center">
            <ul>
                {socials.map((s) => <SocialLink {...s} />)}
            </ul>
        </div>
    </PageSection>
</BaseLayout>
