---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageSection from "../components/PageSection.astro";
import SocialLink from "../components/SocialLink.astro";

const socials = [
    { name: "X (Twitter)", url: "https://x.com/eerieA1", icon: "https://abs.twimg.com/favicons/twitter.3.ico" },
    { name: "Bluesky", url: "https://bsky.app/profile/eeriea.bsky.social", icon: "https://web-cdn.bsky.app/static/favicon-32x32.png" },
];
---

<BaseLayout title="Socials" currentPage="socials">
    <PageSection title="Social links">
        <div class="flex flex-col items-center lg:items-start md:items-center">
            <ul>
                {socials.map((s) => <SocialLink {...s} />)}
            </ul>
        </div>
    </PageSection>
</BaseLayout>
