---
import Header from "../components/Header.astro";
import "../styles/global.css";
import profileImage from "../assets/avatar.svg"; // replace with your actual image path
import { SITE_NAME } from "../config";
const { currentPage } = Astro.props;

import { marked } from "marked";
import summaryMarkdown from "../content/summary.md?raw";
const summary = marked.parse(summaryMarkdown);
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{SITE_NAME}</title>
    </head>
    <body
        class="bg-gray-50 text-primary flex flex-col items-center justify-items-stretch"
    >
        <Header currentPage={currentPage} />

        <!-- Main layout container -->
        <div
            class="w-full sm:w-full lg:max-w-2/3 sm:px-2 lg:px-4 py-6 flex flex-col lg:flex-row gap-6"
        >
            <!-- Sidebar -->
            <aside
                class="w-full lg:w-[180px] bg-white flex flex-col items-center text-center lg:text-left"
            >
                <img
                    src={profileImage.src}
                    alt="Profile"
                    class="w-24 h-24 rounded-full object-cover mb-4"
                />
                <article
                    class="prose max-w-none prose-sm prose-sky prose-p:leading-5 prose-ul:leading-5"
                    set:html={summary}
                />
            </aside>

            <!-- Page content -->
            <main class="w-full flex flex-col gap-y-4">
                <slot />
            </main>
        </div>
    </body>
</html>
